* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 400 */

.playwrite-hr-font1 {
  font-family: "Playwrite HR", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playwrite-hr-font2 {
  font-family: "Playwrite HR", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
